<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Manage Node.js projects and npm packages using package.json</h1>
         <p>
           #FCC Image Search Abstraction Layer<br>
            Project to complete: https://www.freecodecamp.org/challenges/image-search-abstraction-layer<br>
            Live demo at: https://magenta-sign.glitch.me/<br>
            Recent searches at: https://magenta-sign.glitch.me/api/latest/imagesearch<br>
            Example search: https://magenta-sign.glitch.me/api/imagesearch/lots%20and%20lots%20of%20cheese<br>
            Search with page offset: https://magenta-sign.glitch.me/api/imagesearch/lots%20and%20lots%20of%20cheese?offest=4<br>
        </p>
      </div>
   </body>

</html>
